.searchContainer {
    display: flex;
    align-items: center;
    width: 20em;
    height: 3em;
    position: relative;
}

.searchIcon {
    width: 16px;
    height: 16px;
    color: #9E9E9E;
    margin-left: 8px;
}

.searchInput .MuiOutlinedInput-root {
    border-radius: 8px;
}

.searchInput .MuiOutlinedInput-notchedOutline {
    border-color: #9E9E9E;
}

.searchInput .MuiInputLabel-root {
    color: #9E9E9E;
}

.searchInput input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 15px;
    color: #9E9E9E;
}