.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paginationItem {
    margin: 0 5px;
    font-weight: normal;
    background-color: #E0E0E0 !important;
    border-radius: 8px;
    border: 1px solid #E0E0E0 !important;
    padding: 8px 12px;
    cursor: pointer;
}

.paginationItem.active {
    background-color: #624DE3 !important;
    color: #fff;
    border-color: #624DE3 !important;
}


.previous,
.next {

    color: #5b5858 !important;
    border: 0 !important;
    background-color: none;
}


.previous:disabled,
.next:disabled {
    color: #E0E0E0 !important;
    border: 0 !important;
    background-color: none;
}


.paginationItem.disabled {
    color: #ccc;
    border-color: #ccc;
    pointer-events: none;
}