.transitionTable {
    padding: 2em;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.sortIcon {
    margin-left: 0.5em;
    font-size: 0.8em;
    color: #9E9E9E;
    cursor: pointer;

}

.actionCellItems {
    display: flex;
    gap: 2em;
}

.editIcon {
    color: #624DE3;
    cursor: pointer;
}

.deleteIcon {
    color: #A30D11;
    cursor: pointer;

}

.tableColHeader {
    font-size: 14px;
    font-weight: 700 !important;
    font-family: Montserrat;
}

.faDollar {
    font-size: 14px;
}

.MuiTableRow-root:hover {
    background-color: #f1f1f1;
}